.join {
    .node-type {
        background: #C86A6F80;
    }
    
    .name {
        background: #C86A6F;
    }
    
    span, strong {
        color: #C86A6F;
    }
    
    .filter div {
        color: #C86A6F;
        background: #C86A6F1c;
    }
}
