.scan {
    .node-type {
        background: #76A7977e;
    }
    
    .name {
        background: #76A797;
    }
    
    strong, span {
        color: #76A797;
    }
    
    .filter div {
        background: #76A79734;
        color: #76A797;
    }
}
