.node-type {
    background: #f4b4ff7a;
}

.node .name {
    background: #f4b4ff7a;
}

.table .attributes {
    display: flex;

    div {
        display: flex;
        flex-direction: column;
        gap: 0.25em;
    }
    
    .hline {
        height: 2px;
        background: lightgray;
        width: 100%;
    }

    p { 
        margin-inline: 0.35em;
        margin-block: 0;
    }
}

.table {
    .names, .types, .keyTypes {
        display: flex;
        flex-direction: column;
        gap: 0.25em;
        padding-block: 0.25em;
    }

    .types {
        color: #f4b4ff;
    }

    .keyTypes {
        color: gray;
    }

    p {
        font-size: 14px;
    }
}

.table .attribute {
    display: flex;
    justify-content: space-between;
    padding: 0.5em;
}

.table .hline {
    background: black;
    height: 2px;
    width: 100%;
}

.table .rowCount {
    align-self: center;
    margin: 0.25em 0 0;
    span {
        color: #f4b4ff;
    }
}