.table {
  .node-type {
    background: #f4a15929;
  }
  .name {
    background: #f4a2597a;
  }

  .types {
    color: #f4a259;
  }

  .rowCount span {
    color: #f4a259;
  }

    strong {
        color: #F4A259;
    }
}
